@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

.App {
	text-align: center;
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(49, 49, 151, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	font-family: 'Shippori Antique B1', Arial, Helvetica, sans-serif;
}

:root {
	--labels-size: 1rem;
	--primary-color: hsl(208, 100%, 97%);
	--secondary-color: darkblue;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 30s linear;
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
